$r-text: #1d2947;

$r-divider: #d9e0e6;
$r-divider-border: 1px solid #d9e0e6;

$r-orange-accent: #f88065;
$r-orange-accent-light: #fff1e5;
$r-orange-accent-shadow: rgba(248,128,101, 0.2) 0px 8px 24px;

$r-blue-accent: #1d85e8;
